<table>
	<thead>
		<tr>
			<th data-sortby="name">Event Name</th>
			<th data-sortby="eventId">Event Number</th>
			<th data-sortby="competition.name">Competition(s)</th>
			<th data-sortby="startDate">Start Date</th>
			<th data-sortby="eventStatusId">Event Status</th>
			<th data-sortby="eventPanelStatusId">Panel Status</th>
			<th data-sortby="stateId">State</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>