{{#.}}
<tr>
	<td></td>
	<td>{{name}}</td>
	<td>{{id}}</td>
	<td>{{competitions this}}</td>
	<td>{{prettyDate startDate}}</td>
	<td>{{eventStatus.name}}</td>
	<td>{{panelStatus.name}}</td>
	<td>{{state}}</td>
</tr>
{{/.}}